// Definitions for PiModem HAT
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";

	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			pcm5102a-codec {
				#sound-dai-cells = <0>;
				compatible = "ti,pcm5102a";
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&sound>;
		__overlay__ {
			compatible = "hifiberry,hifiberry-dac";
			i2s-controller = <&i2s>;
			status = "okay";
		};
	};

	fragment@3 {
		target = <&uart0>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pins>;
			status = "okay";
		};
	};

	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			uart0_pins: uart0_pins {
				brcm,pins = <14 15 16 17>; /* UART0: TX,RX,CTS,RTS */
				brcm,function = <4 4 7 7>;
				brcm,pull = <0 2 0 0>;
			};
		};
	};

	fragment@5 {
		target-path = "/";
		__overlay__ {
			power_ctrl: power_ctrl {
				compatible = "gpio-poweroff";
				gpios = <&gpio 4 1>;
				force;
			};
		};
	};

	fragment@6 {
		target = <&gpio>;
		__overlay__ {
			power_ctrl_pins: power_ctrl_pins {
				brcm,pins = <4>;
				brcm,function = <1>; // out
			};
		};
	};
};
